@model etiyaproject.Models.EMPLOYEE

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>EMPLOYEE</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NAME_SURNAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NAME_SURNAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.STATU)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.STATU)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CDATE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CDATE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TP)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

<div class="form-actions no-color">
    <input type="submit" value="Delete" class="btn btn-default" /> |
    <button class="btn btn-default">@Html.ActionLink("Back to List", "Index")</button>
</div>
    }
</div>
